# Python para análise de dados (Pandas) - David Alexander

In [1]:
# importações
import pandas as pd

In [5]:
# leitura dos dados
df = pd.read_csv('datasets/Gapminder.csv', sep=';')

In [6]:
# visualizando as primeiras linhas
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [8]:
# Renomeando colunas para o português
df = df.rename(columns={
    "country":"pais",
    "continent":"continente",
    "year":"ano",
    "lifeExp":"expectativa de vida",
    "pop":"populacao",
    "gdpPercap":"PIB"})

In [9]:
# Total de linhas e colunas
df.shape

(3312, 6)

In [10]:
df.columns

Index(['pais', 'continente', 'ano', 'expectativa de vida', 'populacao', 'PIB'], dtype='object')

In [11]:
df.dtypes

pais                    object
continente              object
ano                      int64
expectativa de vida    float64
populacao                int64
PIB                    float64
dtype: object

In [12]:
df.tail()

          pais continente   ano  expectativa de vida  populacao         PIB
3307  Zimbabwe     Africa  1987               62.351    9216418  706.157306
3308  Zimbabwe     Africa  1992               60.377   10704340  693.420786
3309  Zimbabwe     Africa  1997               46.809   11404948  792.449960
3310  Zimbabwe     Africa  2002               39.989   11926563  672.038623
3311  Zimbabwe     Africa  2007               43.487   12311143  469.709298

In [13]:
df["continente"].unique()

array(['Asia', 'Europe', 'Africa', 'Americas', nan, 'FSU', 'Oceania'],
      dtype=object)